.form-signin {
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
}
.center-block {
    text-align: center;
}
.app-list td, .app-list th {
    word-wrap: break-word;
    max-width: 250px;
}
.app-info td:first-child {
    font-weight: bold;
    width: 30%;
    max-width: 400px;
    min-width: 150px;
    word-wrap: break-word;
}

/* override bootstrap table-responsive word wrap */
@media screen and (max-width: 767px) {
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }
}